@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Employee Management App built using ASP.NET Core MVC.</p>
    <h3 class="display-4">Instruction: </h3>
    <p>To start you can click the Employee Section on the navigation bar, 
    where it will direct you to the employee index where you can access every detail of
    every employee and you can inspect, add, and modified employee job position in the Employee Details section.</p>
    <p>Note: Dont Forget to update-database on your Nu Get Package Manager to make sure the database for this 
    web is created, Thank you :)</p>
</div>
